<!-- TODO:
  -Añadir preloarders
  -Revisar pq no funciona
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>Cotizaciones</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    .tableOrdersHead{
      border-bottom: solid 1px lightgray;
    }
    .tableOrdersHead td{
      font-weight: 700;
    }
    .inputDate .choices__list--single{
      margin-left: 30%;
    }
    .choices{
      width: 100% !important;
    }
    .productsPrediction{
      position: absolute;
      z-index: 300;
      border: solid 1px lightgray;
      border-radius: 15px;
      margin-top: 10px;
      background-color: white;
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 12%);
      padding: 10px;
      font-size: 13px;
      max-height: 300px;
      overflow: scroll;
      width: 600px;
      flex-direction: column;
      overflow-x: hidden;
    }
    .productsPrediction>div:hover{
      background: lightgray;
    }
    .productsRow td{
      font-size: 13px;
    }

    .dataTable-sorter{
      text-align: center !important;
    }
    .dataTable-sorter::before {
      display: none !important;
    }
    .dataTable-sorter::after {
      display: none !important;
    }
    #modalRepetirPedido td{
      white-space: break-spaces !important;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>

    <!-- Content -->
    <div class="p-4">

      <!-- Cartera -->
      <%- include('./partials/cartera.ejs') %>

      <!-- Tablas -->
      <div>
        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist" style="cursor: pointer;">
              <li class="nav-item">
                <a class="nav-link mb-0 px-4 py-1 active" data-bs-toggle="tab"  role="tab" aria-controls="profile" aria-selected="true" href="#">
                Lista de cotizaciones
                </a>
              </li>
            </ul>
          </div>
          <div style="cursor: pointer;" onclick="nuevoPedido()">
            <h6 id="toggleShowCardsIcon" class="m-0"><i class="fas fa-plus" style="font-size: 20px;"></i> Realizar Pedido</h6>
          </div>
        </div>
        <div id="tableContainer" class="card p-3"></div>
      </div>

    </div>

    <!-- Modal Pedido-->
    <div class="modal fade" id="modalNuevoPedido" style="z-index: 30000;">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content min-vh-90" style="min-height: 90vh;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: gray; border-radius: 50%;"></button>
          </div>
          <div class="modal-body d-flex flex-column" >
            <div class="text-center mb-1">
              <h6 id="titleModalNuevoPedido"></h6>
            </div>
            <div class="d-flex gap-2 w-100 inputDate" >
              <div class="w-50" style="position: relative;"> 
                <select name="" id="direccion" class="form-control" style="padding-left: 30%; width: 100% !important;">
                  <!-- <option value="">A</option>
                  <option value="">E</option>
                  <option value="">R</option> -->
                </select>
                <div style="position: absolute; top: 10%; left: 2%;"> <h6>Dirección de envío:</h6></div>
              </div>
              <div class="w-50" style="position: relative;">
                <input type="date" name="" id="inputDateModal" class="form-control" style="padding-left: 25%"> 
                <div style="position: absolute; top: 10%; left: 2%;"> <h6>Fecha de envío:</h6></div>
              </div>
            </div>
            <div class="w-100 mt-3" >

              <div>

                <div>
                  <table class="w-100" style="border-collapse: separate; border-spacing: 10px;  table-layout:fixed;">
                    <tr class="tableOrdersHead">
                      <td style="width: 6%;">Código</td>
                      <td style="width: 27%;">Producto</td>
                      <td>Precio</td>
                      <td style="width: 10%;">Cantidad</td>
                      <td style="width: 10%;">Descuento</td>
                      <td>Subtotal</td>
                      <td>IVA</td>
                      <td>Total</td>
                      <td style="width: 5%;" onclick="addProduct()"><i class="fas fa-plus"></i></td>
                    </tr>
                    <tbody id="tableProductsBody">
                      <tr value="1" class="productsRow">
                        <td class="cod" style="position: absolute"><input type="text" name="" id="" class="form-control inputProduct" placeholder="Buscar Producto" style="max-width: 75%;"> <div id="predictionsBox1" style="display: none;" class="productsPrediction"></div> </td>
                        <td class="descr" style="font-size: 13px"></td>
                        <td class="prec">$0</td>
                        <td class="cant"><input type="number" name="" id="" class="form-control inputAmount" min="1"></td>
                        <td class="vdes">$0</td>
                        <td class="subt">$0</td>
                        <td class="iva">$0</td>
                        <td class="total">$0</td>
                        <td class="removeRow"><i class="fas fa-trash"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="mt-2">
                  <p> <span style="font-weight: 700;">NOTA:</span>  Apreciado cliente, si desea dar alguna recomendación u observación a su pedido como envío por una transportadora específica o anexar algún elemento, entre otras cosas lo puede hacer en el siguiente campo.</p>
                  <textarea name="" id="inputNotes" cols="30" rows="10" placeholder="Notas" class="form-control" style="height: 130px; resize: none;"></textarea>
                </div>

                <div class="mt-3 d-flex justify-content-end" style="position: relative;">
                  <div class=" w-35" style="background-color: #f8f9fa; border-radius: 1rem; padding: 10px;">
                    <div class="d-flex justify-content-between">
                      <h6>Cantidad Items</h6>
                      <h6 id="TotalCant">0</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h6>Subtotal</h6>
                      <h6 id="TotalSubTotal">$0.00</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h6>Descuento</h6>
                      <h6 id="TotalDes">$0.00</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                      <h6>IVA</h6>
                      <h6 id="TotalIVA">$0.00</h6>
                    </div>
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                      <h6>Total</h6>
                      <h6 id="TotalTotal">$0.00</h6>
                    </div>
                  </div>

                  <div style="position: absolute; left: 0%; display: none" id="cartAlert" >
                    <h6 style="color: red;">Atención: <span>el valor total de la orden debe ser mayor a $ 300,000.00</span></h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <hr class="m-0">
          <div class="d-flex justify-content-center m-3 gap-3">
            <button class="btn btn-secondary">Cancelar</button>
            <button class="btn btn-primary" onclick="onPay()">Enviar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Repetir Pedido-->
    <div class="modal fade" id="modalRepetirPedido" style="z-index: 30000;">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content " >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Repetir Pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: gray; border-radius: 50%;"></button>
          </div>
          <div class="modal-body d-flex flex-column" >
            <div id="tableContainerPedidoRepetido"></div>
          </div>
          <hr class="m-0">
          <div class="d-flex justify-content-center m-3 gap-3">
            <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button class="btn btn-primary" onclick="sendCartPedidoRepetido()">Repetir Pedido</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Estado Pedido-->
    <div class="modal fade" id="modalEstadoPedido" style="z-index: 30000;">
      <div class="modal-dialog modal-lg" role="document" style="width: 55vw;">
        <div class="modal-content " >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Repetir Pedido</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: gray; border-radius: 50%;"></button>
          </div>
          <div class="modal-body d-flex flex-column" style="background-color: #e9ecef;">

            <div > 
              <div class="d-flex justify-content-center gap-2 font-weight-bold" style="text-transform: uppercase">
                Pedido
                <div id="estadoPedido"></div>
              </div>

              <div class="d-flex justify-content-between mt-3" >
                <div class="p-4 w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);">
                  <span class="font-weight-bold">
                    Pedido Realizado
                  </span>
                  <div class="d-flex justify-content-center align-items-center" style="position: absolute; border-radius: 50%; border: solid 2px #cb0c9f; width: 50px; height: 50px; right: -7%; top: 15%; z-index: 30;">
                    <i class="fas fa-clipboard-check" style="font-size: 30px;"></i>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);">
                  <div id="estadoFechaPedido"></div>
                  <span id="estadoFechaPedidoH"></span>
                </div>
              </div>

              <div class="d-flex justify-content-between mt-3">
                <div class="p-4 w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);"> 
                  <span class="font-weight-bold">
                    Factura Generada
                  </span>
                  <div class="d-flex justify-content-center align-items-center" style="position: absolute; border-radius: 50%; border: solid 2px #cb0c9f; width: 50px; height: 50px; right: -7%; top: 15%; z-index: 30;" >
                    <i class="fas fa-receipt" style="font-size: 30px;"></i>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-center flex-column w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);"> 
                  <div id="estadoFechaFactura"> </div>
                  <span id="estadoFechaFacturaH"></span>
                </div>
              </div>

              <div class="d-flex justify-content-between mt-3">
                <div class="p-4 w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);">
                  <div class="font-weight-bold">Transportador</div>
                  <div id="estadoTransportador"></div>
                  <div class="d-flex justify-content-center align-items-center" style="position: absolute; border-radius: 50%; border: solid 2px #cb0c9f; width: 50px; height: 50px; right: -7%; top: 15%; z-index: 30;">
                    <i class="fas fa-truck" style="font-size: 30px;"></i>
                  </div>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-center w-50" style="background-color: white; border-radius: 1rem; position: relative; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);">
                  <div class="font-weight-bold">Fecha estimada de entrega</div>
                  <div id="estadoFechaEstimada"></div>
                  <span id="estadoFechaEstimadaH"></span>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- preloader -->
    <%- include('./partials/preloader.ejs') %> 
  </main>
  
  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/menu.js"></script>

  <script>
    let facturas = `<%- JSON.stringify(facturas) %>`;
        facturas = JSON.parse(facturas).result.extranet;
    // let pedidos = `<%- JSON.stringify(pedidos) %>`;
    //     pedidos = JSON.parse(pedidos).result.extranet;
    let vendedor = `<%- JSON.stringify(vendedor) %>`;
        vendedor = JSON.parse(vendedor).result;
    let cartName = "storeCart" + session.user.id;


    const canSeePdf = true;
    const canSeeEstadoPedido = true;
    const pdfLink = "http://www.secst.cl/upfiles/documentos/19072016_1207am_578dc39115fe9.pdf";

    const printDirections = () => {
      let id = session.user.id_person;
      fetch("/infoVendedor/"+id)
        .then(res => res.json())
        .then(res => {
          res = res.vendedor.result.result.address;
          for (let i = 0; i < res.length; i++) {
            let element = `
              <option value="${res[i].address}" data-code="${res[i].code}">${res[i].address}</option>
            `;
            $("#direccion").append(element)
          }
          const choicesPrice = new Choices($('#direccion')[0],{"searchEnabled": false});
        })
    }

    const nuevoPedido = async () => {
      await printDirections();
      $('#modalNuevoPedido').modal('show')
    }

    const addProduct = () => {
      let number = $("#tableProductsBody > tr").length + 1;
      let element = `
        <tr value="${number}" class="productsRow">
          <td class="cod" style="position: absolute"><input type="text" name="" id="" class="form-control inputProduct" placeholder="Buscar Producto" style="max-width: 100%"> <div id="predictionsBox${number}" style="display: none;" class="productsPrediction"></div> </td>
          <td class="descr" ></td>
          <td class="prec">$0</td>
          <td class="cant"><input type="number" name="" id="" class="form-control inputAmount" min="1" value="1"></td>
          <td class="vdes">$0</td>
          <td class="subt">$0</td>
          <td class="iva">$0</td>
          <td class="total">$0</td>
          <td class="removeRow" ><i class="fas fa-trash"></i></td>
        </tr>
      `;
      $("#tableProductsBody").append(element);
    };

    $(document).on('click','.removeRow',function(){
      $(this).parent().remove();
      printTotalCart();
    });

    $(document).on('keyup click','.inputProduct',function(){
      if ($(this).val().length > 2) {
        let criteria = $(this).val();
        let row = $(this).parent().parent()[0]
        row = row.getAttribute("value");

        fetch("/nuevo-pedido/"+criteria)
          .then(res => res.json())
          .then(data => {
            if (data.productos.err) {
              $(".productsPrediction").html("<h6 style='margin-bottom: 0'>Sin resultados para la busqueda</h6>");
              $("#predictionsBox"+row).css("display", "flex");
              console.log("No hay resultados")
            } else {
              data = data.productos.result.items;
              $(".productsPrediction").html("");
              for (const product in data) {
                let productName =  `<div class="productPrediction" style="border-bottom: solid 1px lightgray; cursor: pointer" N="${row}" price="${data[product].prices_list[0] ? data[product].prices_list[0].price : 0}" code="${data[product].code}" description="${data[product].description.replace('<', '')}"  discount="${data[product].discount}" >${data[product].description.replace('<', '')}</div>`;
                $("#predictionsBox"+row).append(productName);
              }
              $("#predictionsBox"+row).css("display", "flex");
            }
          })
      }
    });

    $(document).on('click','.productPrediction',function(){
      let row = $(this).attr("N");
      let tableBody = $("#tableProductsBody").children("tr");

      for (let i = 0; i < tableBody.length; i++) {
        if ($(tableBody[i]).attr("value") == row) {
          let iva = $(this).attr("price") * 0.19;
          let total = Number($(this).attr("price")) - Number($(this).attr("discount")) + iva;

          $(tableBody[i]).find(".cod").text($(this).attr("code"))
          $(tableBody[i]).find(".descr").text($(this).attr("description"))

          $(tableBody[i]).find(".prec").text(nvFormatCash($(this).attr("price")))
          $(tableBody[i]).find(".prec").attr("value", $(this).attr("price"))

          $(tableBody[i]).find(".cant").find("input").val(1)

          $(tableBody[i]).find(".vdes").text(nvFormatCash($(this).attr("discount")))
          $(tableBody[i]).find(".vdes").attr("value", $(this).attr("discount"))

          $(tableBody[i]).find(".subt").text(nvFormatCash($(this).attr("price")))
          $(tableBody[i]).find(".subt").attr("value", $(this).attr("price"))

          $(tableBody[i]).find(".iva").text(nvFormatCash(iva))
          $(tableBody[i]).find(".iva").attr("value", iva)
          $(tableBody[i]).find(".iva").attr("iva", iva)

          $(tableBody[i]).find(".total").text(nvFormatCash(total));
          $(tableBody[i]).find(".total").attr("value", total);

          printTotalCart();
        };
      };
    });

    $(document).on('keyup mouseup', '.inputAmount', function(e) {       
      let value = $(this).attr("value");  
      let currentValue = $(this).val();  
      
      if (!(value == currentValue)) {
        let cant = Number($(this).val())
        let price = Number($(this).parent().parent().find(".prec").attr("value"))
        let iva = Number($(this).parent().parent().find(".iva").attr("iva"))
        let desc = Number($(this).parent().parent().find(".vdes").attr("value"))
        let subT = 0;
        let total = 0;
        let ivaT = 0;

        subT = price * cant;
        ivaT = iva * cant;
        desc = desc * cant;
        total = subT + iva - desc;

        console.log(total)

        $(this).parent().parent().find(".iva").text(nvFormatCash(ivaT))
        $(this).parent().parent().find(".iva").attr("value", ivaT)

        $(this).parent().parent().find(".vdes").text(nvFormatCash(desc))
        $(this).parent().parent().find(".vdes").attr("value", desc)

        $(this).parent().parent().find(".subt").text(nvFormatCash(subT))
        $(this).parent().parent().find(".subt").attr("value", subT)

        $(this).parent().parent().find(".total").text(nvFormatCash(total))
        $(this).parent().parent().find(".total").attr("value", total)

        $(this).attr("value", currentValue);
        printTotalCart();
      }
    });
    
    let dataPedidoRepetido;
    $(document).on('click','.pedidoDetail',function(){
      let id =  $(this).attr("id");
      fetch("/historial-pedidos/"+id)
      .then(response => response.json())
      .then(data => {
        console.log(data)
        if (data.detalle) {
          dataPedidoRepetido = data.detalle;
          loadTablePedidoRepetido(data.detalle)
          $("#modalRepetirPedido").modal("show");
        }
      });
    });
    
    $(document).on('click',function(e){
      if (e.target.className != 'productsPrediction' ) {
        $(".productsPrediction").css("display", "none");
      }
    });

    const printTotalCart = () => {
      let amounts = $(".inputAmount");
      let subT = $(".subt");
      let des = $(".vdes");
      let iva = $(".iva");
      let total = $(".total");

      let Tamount = 0;
      let Tsub = 0;
      let Tdes = 0;
      let Tiva = 0;
      let Ttotal = 0;

      for (let i = 0; i < amounts.length; i++) {
        Tamount += Number($(amounts[i]).val())
        Tsub += Number($(subT[i]).attr("value"))
        Tdes += Number($(des[i]).attr("value"))
        Tiva += Number($(iva[i]).attr("value"))
        Ttotal += Number($(total[i]).attr("value"))
      }

      $("#TotalCant").text(Tamount)
      $("#TotalSubTotal").text(nvFormatCash(Tsub))
      $("#TotalSubTotal").attr("data-price", Tsub)

      $("#TotalDes").text(nvFormatCash(Tdes))
      $("#TotalDes").attr("data-price", Tdes)

      $("#TotalIVA").text(nvFormatCash(Tiva))
      $("#TotalIVA").attr("data-price", Tiva)

      $("#TotalTotal").text(nvFormatCash(Ttotal))
      $("#TotalTotal").attr("data-price", Ttotal)

      if (Ttotal < 300000) {
        $("#cartAlert").show()
      } else {
        $("#cartAlert").hide()
      }
    }

    const sendCartPedidoRepetido = () => {
      localStorage.setItem(cartName, JSON.stringify(dataPedidoRepetido)); 
      window.location.replace("/carrito-compras");
    }

    const loadTablePedidoRepetido = (data) => {
      let table = `<table id="tableRepetirPedido" class="table align-items-center mb-1 table-hover" style="overflow:scroll; table-layout:fixed"></table>`;
      let tableHead;

      $("#tableContainerPedidoRepetido").html("");
      $("#tableContainerPedidoRepetido").append(table)

      let tableContent = '<tbody id="tableBody" class="mb-2">';

      tableHead = `
        <thead>
          <tr id="tableHead">
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck" style="text-align: center"> Cant </th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 pe-4 iconCheck"><div style="position: relative; right: 10px">Despachadas</div></th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck">Código</th>
          <th id="descriptionTable" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck">Descripción</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck"><div style="position: relative; right: 10px">% Descuento</div></th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck">% IVA</th>
          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck">Valor</th>
          </tr> 
        </thead>  
      `;
      for(let i = 0; i < data.length; i++){
        tableContent+= '<tr >';
        tableContent+= `<td class="text-center">${data[i].cantidad}</td>`;
        tableContent+= `<td class="text-center">${data[i].qty}</td>`;
        tableContent+= `<td class="text-center">${data[i].codigo}</td>`;
        tableContent+= `<td class="text-center">${data[i].descripcion}</td>`;
        tableContent+= `<td class="text-center">${data[i].por_desc}%</td>`;
        tableContent+= `<td class="text-center">${data[i].porcentaje_iva}%</td>`;
        tableContent+= `<td class="text-center">${data[i].format_precio}</td>`;
        tableContent+= '</tr>';
      };

      $("#tableRepetirPedido").append(tableHead);
      $("#tableRepetirPedido").append(tableContent);
      $("#tableContainerPedidoRepetido").show();
      const tableObj = new simpleDatatables.DataTable("#tableRepetirPedido", {});

      $("#descriptionTable").css("width", "45%");
    }

    const loadTable = (tableNombre, body) => {
      let table = `<table id="${tableNombre}" class="table align-items-center mb-1 table-hover" style="overflow:scroll"></table>`;
      let tableHead;

      $("#tableContainer").hide("slide", { direction: "right" }, 300);
      $("#tableContainer").html("");
      $("#tableContainer").append(table)

      let tableContent = '<tbody id="tableBody" class="mb-2">';

      if (tableNombre == "tablaPedidos") {
        tableHead = `
          <thead>
            <tr id="tableHead">
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck" > # Pedido </th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Repetir Pedido</th>
            </tr> 
          </thead>  
          `;
        for(let i = 0; i < body.length; i++){
          tableContent+= `<tr>`;
          tableContent+= `<td class="text-center">${body[i].numero}</td>`;
          tableContent+= `<td class="text-center">${body[i].fecha}</td>`;
          tableContent+= `<td class="text-center">${body[i].valor_total}</td>`;
          tableContent+= `<td class="text-center pedidoDetail" id="${body[i].numero}" style="cursor: pointer"><i class="fas fa-plus"></i></td>`;
          tableContent+= '</tr>';
        };
      }

      if (tableNombre == "tablaPedidosEstado") {
        tableHead = `
          <thead>
            <tr id="tableHead">
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 iconCheck" > # Pedido </th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Valor</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Repetir Pedido</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Estado Pedido</th>
            </tr> 
          </thead>  
          `;
        for(let i = 0; i < body.length; i++){
          let fecha = (body[i].dateText ? body[i].dateText : body[i].fecha)
          let valor = (body[i].valor_totalText ? body[i].valor_totalText : nvFormatCash(body[i].valor_total));

          tableContent+= '<tr>';
          tableContent+= `<td class="text-center numeroPedido" pedido="${body[i].numero}">${body[i].numero}</td>`;
          tableContent+= `<td class="text-center">${nvFormatDate(fecha, "dddd DD de mmmm de YYYY")}</td>`;
          tableContent+= `<td class="text-center">${valor}</td>`;
          tableContent+= `<td class="text-center pedidoDetail" id="${body[i].numero}" style="cursor: pointer"><i class="fas fa-plus"></i></td>`;
          tableContent+= `<td class="text-center estadoPedido" style="cursor: pointer"><i class="fas fa-truck"></i></td>`;
          tableContent+= '</tr>';
        };
      }

      tableContent+='</tbody>';

      $("#"+tableNombre).append(tableHead);
      $("#"+tableNombre).append(tableContent);
      $("#tableContainer").show("slide", { direction: "left" }, 800);

      const tableObj = new simpleDatatables.DataTable("#"+tableNombre, {});
    }

    // Modal estado Pedido
    $(document).on("click", ".estadoPedido", function (e) {
      $("#modalEstadoPedido").modal("show")

      let numeroPedido = $(this).siblings(".numeroPedido").attr("pedido");
      let estadoPedidoObject = _.find(pedidos.Table1, function(o){ return o.Pedido == numeroPedido; });

      $("#estadoPedido").text(estadoPedidoObject.Pedido)
      $("#estadoFechaEstimada").text(nvFormatDate(estadoPedidoObject.fecha_estima_entrega, "dddd DD de mmmm de YYYY"))
      $("#estadoFechaPedidoH").text(nvFormatDate(estadoPedidoObject.fecha_estima_entrega, "HH:mm"))

      $("#estadoFechaFactura").text(nvFormatDate(estadoPedidoObject.fecha_factura, "dddd DD de mmmm de YYYY"))
      $("#estadoFechaFacturaH").text(nvFormatDate(estadoPedidoObject.fecha_factura, "HH:mm"))

      $("#estadoFechaPedido").text(nvFormatDate(estadoPedidoObject.fecha_pedido, "dddd DD de mmmm de YYYY"))
      $("#estadoFechaEstimadaH").text(nvFormatDate(estadoPedidoObject.fecha_pedido, "HH:mm"))
      $("#estadoTransportador").text(estadoPedidoObject.transportador)

      console.log(nvFormatDate(estadoPedidoObject.fecha_pedido, "dddd DD de mmmm de YYYY"))
      console.log(numeroPedido, estadoPedidoObject)
      e.stopPropagation();
    })

    // Correct time zone support
    Date.prototype.toDateInputValue = (function() {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0,10);
    });

    const getIp = () => {
      let ipAddress;
      $.getJSON("https://api.ipify.org/?format=json", (resultIpify) => {ipAddress = resultIpify.ip});
      return ipAddress
    }

  
    // TODO: Terminar armado pedido desde historial pedidos
    const onPay = () => {
      // Prepare data
      let rows = $("#tableProductsBody tr");
      const products = [];
      for (let i = 0; i < rows.length; i++) {
        let str = "";
        let price = Number($(rows[i]).find(".prec").attr("value"));
        let quantity = Number($(rows[i]).find(".inputAmount").val());
        let iva = Number($(rows[i]).find(".iva").attr("iva"));
        let codigo = $(rows[i]).find(".cod").text();
        let descuento = $(rows[i]).find(".vdes").attr("value");

        let bodega = vendedor.result.seller[0].id_warehouse; 
        let permisoDNoCQPutas = true; //TODO: implementar permiso 

        if (permisoDNoCQPutas) {
          str += addCharacter(i + 1, 3, "0");
          str += addCharacter(codigo,20," ",'right');
          str += addCharacter(quantity,6,"0");
          str += addCharacter(price.toFixed(0),9,"0");
          str += addCharacter(iva,3,"0");
          str += addCharacter(parseFloat(descuento || "0").toFixed(0),10,"0");
          str += addCharacter("",10,"0");
          str += addCharacter("0.00",10,"0");
          str += addCharacter('0' || '0', 10, "0");
          str += addCharacter("Und",3,"0");
          str += addCharacter(bodega,6," ");
          str += addCharacter("1",6,"0");
          products.push(str);
        } else {
          products.push({
            "id_company": session.user.id_company,
            "type": "2000",
            "seq": addCharacter(i + 1, 3, "0"),
            "product": addCharacter(codigo,20," ",'right'),
            "amount": addCharacter(quantity,6,"0"),
            "price": addCharacter(price.toFixed(0),9,"0"),
            "percentaje_tax": addCharacter(iva,3,"0"),
            "discount1": addCharacter(parseFloat(descuento || "0").toFixed(0),10,"0"),
            "discount2": addCharacter(parseFloat(descuento || "0").toFixed(0),10,"0"),
            "discount3": addCharacter("0",10,"0"),
            "por_desc": addCharacter((descuento || ''),10,"0"),
            "price_unit": addCharacter("Und",3,"0"),
            "id_warehouse": addCharacter(bodega, 6," "),
            "amount_unity": addCharacter("1",6,"0")
          });
        }
      }
      
      let address = $("#direccion :selected").val(); //TODO revisar dirección
      let dCUrrent = new Date();
      let dateObj = $("#inputDateModal").val();
      let date = $("#inputDateModal").val();
      let strProducts = products.join("|");
      let note = $("#inputNotes");
      let dispatchDate = $("#inputDateModal").val(); //TODO: organizar fecha de envio
      let objtLocation = { //TODO: de donde sale la latitud y la longitud
        latitud: "",
        longitud: ""
      };
      let type = "order"; //TODO de donde sale este tipo de pedido

      let params = {
        pbodega: bodega.toString(),
        pnit: vendedor.result.seller[0].nit,
        pvendedor: session.user.nit,
        pfecha: date, //TODO revisar esta fecha,
        pcondicion: '0',
        pdias: '0',
        pdescuento: $("#TotalDes").attr("data-price"),
        ptotal: Math.round($("#TotalTotal").attr("data-price")).toString(),
        pnota: note || "",
        pequipo: 'Extranet',
        pitems: strProducts,
        plongitud: objtLocation.longitud,
        platitud: objtLocation.latitud,
        pempresa: session.user.id_company.toString(),
        pimei: getIp(),
        pusuario: vendedor.result.seller[0].user,
        pfechadespacho: "",
        ptipo: (type == "order") ? "1" : "c",
        pdireccion: "",
        pdocumento: ""
      };

      if (type == 'order') {
        params.popt1 = "0";
        params.popt2 = "0";
        params.op = "pedido";
        if (session.user.id_company != 7 && session.user.id_company != 8) {
            params.popt1 = address; //TODO revisar q valor es el que se envia en el primer parametro
            params.pdireccion = address;
        } else {
            params.popt1 = address;
            params.pdireccion = address;
        }
      } else {
        params.op = "cotizacion";
        params.pdireccion = address;
      }

      fetch("/historial-pedidos", {
        method:"POST",
        body: JSON.stringify(params),
        headers: {"Content-type": "application/json"}
      })
      .then(res => res.json())
      .then(res => {
        console.log(res)
      })
    };

    const handlePermissions = function (permissions) {
      let permissionIndex; 
      permissionIndex = permissions.map(e => e.code).lastIndexOf( "8090_VIEW_TIME_LINE_ORDER");
      if (permissionIndex  != -1 && permissions[permissionIndex].content == "S") {
        loadTable("tablaPedidosEstado", pedidos.Table); 
      } else {
        loadTable("tablaPedidos", pedidos.Table)
      };
    }

    $( document ).ready(function() {
      $("#titleModalNuevoPedido").text(session.user.company + " - " + session.user.nit)
      loadCartera(facturas.Table[0]);
      handlePermissions(session.user.permission)

      $('#inputDateModal').val(new Date().toDateInputValue());

      $("#menuCotizaciones").addClass("activeNav");
      $("#preloader").hide();
    });
  </script>
  
</body>
</html>