<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>Facturas</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    .noSorter .dataTable-sorter::after{
      opacity: 0;
    }
    .noSorter .dataTable-sorter::before{
      opacity: 0;
    }

    .dataTable-sorter{
      text-align: center !important;
    }
    .dataTable-sorter::before {
      display: none !important;
    }
    .dataTable-sorter::after {
      display: none !important;
    }
    tr td {
      font-size: 14px;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>

    <!-- Content -->
    <div class="p-4" style="position: relative">

      <!-- Error -->
      <%- include('./partials/error.ejs') %>

      <!-- Cartera -->
      <%- include('./partials/cartera.ejs') %>

      <!-- Tablas -->
      <div>
        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1" role="tablist" style="cursor: pointer;">
              <li class="nav-item">
                <a class="nav-link mb-0 px-4 py-1 active" data-bs-toggle="tab"  role="tab" aria-controls="profile" aria-selected="true" href="#">
                Facturas por pagar
                </a>
              </li>
            </ul>
          </div>

        </div>
        <div id="tableContainer" class="card p-3">
          <table id="table" style="table-layout: fixed;">
            <thead>
              <tr>
                <th class="w-10 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Documento</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Subtotal</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Descuento</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">IVA</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">V.Total</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">V.Aplicado</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">V.Saldo</th>
                <th class="w-5 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 noSorter">Agregar</th>
              </tr> 
            </thead>  
            <tbody id="tableContent"></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- preloader -->
    <%- include('./partials/preloader.ejs') %> 
  </main>

  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/menu.js"></script>

  <script>
    let facturas = `<%- JSON.stringify(facturas) %>`;
        facturas = JSON.parse(facturas).result.extranet;
    let session = `<%- JSON.stringify(session) %>`;
        session = JSON.parse(session);
    let catalogName = "storeCatalog" + session.user.id;
    let cartInvoiceName = "storeInvoice" + session.user.id;
    

    const loadTablePedidoRepetido = (data) => {
      let tableContent;
      for(let i = 0; i < data.length; i++){
        let icon;
        if (isInLocalStorage(data[i].Numero_Documento)) {
          icon = `<i class="fas fa-check iconCheck" style="display: none" title="Añadir factura al carrito"></i><i class="fas fa-trash iconRemove" title="Remover factura del carrito"></i>`;
        } else {
          icon = `<i class="fas fa-check iconCheck" title="Añadir factura al carrito"></i><i class="fas fa-trash iconRemove" style="display: none" title="Remover factura del carrito"></i>`;
        }

        tableContent+= '<tr >';
        tableContent+= `<td class="text-center"><a target="_blank" href="${data[i].Url_fe}"> <i class="fas fa-file-pdf me-1"></i> <br> ${data[i].Numero_Documento} </a></td>`;
        tableContent+= `<td class="text-center">${data[i].Fecha_Vencimiento}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(data[i].Subtotal)}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(Math.round(data[i].Descuento))}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(data[i].Iva)}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(data[i].Valor_Documento)}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(data[i].Valor_Aplicado)}</td>`;
        tableContent+= `<td class="text-center">$${numberWithCommas(data[i].Valor_Saldo)}</td>`;
        tableContent+= `<td class="text-center addRemoveCart" style="cursor: pointer" data-row='${JSON.stringify(data[i])}'>${icon}</td>`;
        tableContent+= '</tr>';
      };

      $("#tableContent").append(tableContent);
      const tableObj = new simpleDatatables.DataTable("#table", {});
    }

    $(document).on("click", ".addRemoveCart", function () {
      if (!(localStorage.getItem(cartInvoiceName) === null)) {
        let localObjectLenght = JSON.parse(localStorage.getItem(cartInvoiceName)).length;
        $("#invoicesIndicator").text((localObjectLenght ? localObjectLenght : ""))
      } 
    })

    const isInLocalStorage = (data) => {
      if (localStorage.getItem(cartInvoiceName) === null) {
        return false;
      } else {
        let localObject = JSON.parse(localStorage.getItem(cartInvoiceName));
        let productExist = _.findWhere(localObject, {"Numero_Documento": data});
        if (productExist) {return true} 
        return false;
      }
    }

    $(document).on("click", ".iconCheck", function () {
      let objectRow = $(this).parent().attr("data-row");
          objectRow = JSON.parse(objectRow)
      let nDocumento = objectRow.Numero_Documento;

      if (localStorage.getItem(cartInvoiceName) === null) {
        localStorage.setItem(cartInvoiceName, JSON.stringify([objectRow]));
        $(this).hide();
        $(this).siblings(".iconRemove").show();
      } else {
        let localObject = JSON.parse(localStorage.getItem(cartInvoiceName));
        
        let productExist = _.findWhere(localObject, {"Numero_Documento": nDocumento});
        if (productExist) {return} 

        localObject.push(objectRow)
        localStorage.setItem(cartInvoiceName, JSON.stringify(localObject));
        $(this).hide();
        $(this).siblings(".iconRemove").show();
      }
    });

    $(document).on("click", ".iconRemove", function () {
      let objectRow = $(this).parent().attr("data-row");
          objectRow = JSON.parse(objectRow)
      let nDocumento = objectRow.Numero_Documento;

      let localObject = JSON.parse(localStorage.getItem(cartInvoiceName));
      let localFiltered = localObject.filter(o => o.Numero_Documento !== nDocumento);
      localStorage.setItem(cartInvoiceName, JSON.stringify(localFiltered));

      $(this).hide();
      $(this).siblings(".iconCheck").show();
    });


    $( document ).ready(function() {
      try {
        loadCartera(facturas.Table[0]);
        loadTablePedidoRepetido(facturas.Table1);
      } catch (error) {
        console.error(error);
        $("#error400").show();         
      }

      $("#menuFacturas").addClass("activeNav")
      $("#preloader").hide();
    });
  </script>

</body>
</html>