<!-- TODO:
  -Indicador/mensaje de retencion actualizada-creada
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>Retenciones</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    .choices__list--dropdown .choices__item--selectable:after {
      display: none !important;
    }
    .choices__list--dropdown .choices__item--selectable {
      padding-right: 0 !important;
    }
    .choices__input{
      display: none !important;
    }
    .dataTable-top{
      display: none !important;
    }

    .dataTable-sorter{
      text-align: center !important;
    }
    .dataTable-sorter::before {
      display: none !important;
    }
    .dataTable-sorter::after {
      display: none !important;
    }
    .choices{
      width: 100% !important;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">
  
  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>

    <!-- Cotent -->
    <div class="p-4">
      <div class="card p-3 m-2">
        <div class="d-flex justify-content-between align-items-center">
          <h5>Retenciones</h5>
          <div style="color: #344767; cursor: pointer;" onclick="cleanFormRetencion()">  
            <i class="fas fa-plus"></i>
            Añadir retención
          </div>
        </div>
        <div class="w-100 mt-3">
          <table class="w-100" id="table">
            <thead>
              <tr>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Nombre</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Retención (%)</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Tipo</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder ">Descripción</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder "></th>
              </tr> 
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalNuevaRetencion" style="z-index: 30000;">
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Crear Retención</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color: gray; border-radius: 50%;"></button>
          </div>
          <div class="modal-body d-flex flex-column" >
            <h6 class="text-center" style="color: red; font-size: 13px; display: none;" id="advertencia">Nombre y Porcentaje son datos obligatorios</h6>
            <div>
              <label for="nombre">Nombre retención</label>
              <input type="text" class="form-control" id="nombre">
            </div>
            <div>
              <div>
                <label for="porcentaje">Porcentaje</label>
                <input type="number" class="form-control" id="porcentaje" min="0" max="100">
              </div>
              <div>
                <label for="selectRetencion">Tipo de retención</label>
                <select name="" id="selectRetencion" class="form-control">
                  <option value="1">Retención de IVA</option>
                  <option value="2">Retención a la fuente</option>
                  <option value="3">Retención de industria y comercio</option>
                  <option value="4">Retención de CREE</option>
                  <option value="5">Otro tipo de retención</option>
                </select>
              </div>
            </div>
            <div>
              <label for="">Descripción</label>
              <textarea name="" id="desc" cols="30" rows="10" class="form-control" style="resize: none;"></textarea>
            </div>
            <div class="form-check form-switch mt-2 d-flex justify-content-center align-items-center" >
              <label class="m-0" for="activo" >Activo</label>
              <input class="form-check-input" type="checkbox" id="state" checked="" style="margin-left: 10px;">
            </div>
          </div>
          <hr class="m-0">
          <div class="d-flex justify-content-center m-3 gap-3">
            <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button id="createBtn" class="btn btn-primary" onclick="getFormData()">Crear</button>
            <button id="editBtn" class="btn btn-primary" onclick="updateRetencion()">Actualizar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- preloader -->
    <%- include('./partials/preloader.ejs') %> 
  </main>


  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/menu.js"></script>

  <script>
    let retenciones = `<%- JSON.stringify(retenciones) %>`;
        retenciones = JSON.parse(retenciones).result;
        
    const getFormData = () => {
      let data = {
        account: "",
        description: $("#desc").val(),
        id_company: session.user.id_company,
        id_retention_type: $('#selectRetencion option:selected').val(),
        name: $("#nombre").val(),
        percentage: $("#porcentaje").val(),
        status: ($("#state").is(":checked") ? 1 : 0)
      } 

      if (data.nombre == "" || data.porcentaje  == "") {$("#advertencia").show(); return} 
      if (data.percentage > 100) {alert("El porcentaje no puede ser mayor a 100"); return} 

      fetch('/retenciones/create', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
        .then(res => res.json())
        .then(res =>{
          location.reload()
        })
    };

    const printTableData = (data) => {
      for (let i = 0; i < data.length; i++) {
        let element = `
          <tr>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder  ">${data[i].name}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder  ">${data[i].percentage}%</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder  ">${data[i].retention_type_description}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder  ">${(data[i].description)}</th>
            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder" data-retencion='${JSON.stringify(data[i])}''>
              <div class="d-flex align-items-center mb-0">
                <div class="form-check form-switch">
                  <input ${data[i].status == 1 ? "checked" : ""} class="form-check-input retentionState" type="checkbox" id="flexSwitchCheckDefault" style="height: 20px">
                </div>
                ${data[i].standard == 0 ? '<i class="fas fa-edit mb-1 ms-2 editRetencion" style="font-size: 17px; cursor: pointer"></i>' : ''}
              </div>  
            </th>
          </tr> 
        `;
        $("#tableBody").append(element)
      }
      const tableObj = new simpleDatatables.DataTable("#table", {});
    };

    const cleanFormRetencion = () => {
      $("#nombre").val(""),
      $("#porcentaje").val(""),
      $("#selectRetencion").val("1"),
      $("#desc").val(""),
      $("#state").prop('checked', true)

      $("#editBtn").hide()
      $("#createBtn").show()
      $('#modalNuevaRetencion').modal('show')
    };

    const updateRetencion = () => {
      let data = {
        account: $("#nombre").attr("data-account"),
        description: $("#desc").val(),
        id: $("#nombre").attr("data-id"),
        id_retention_type: $('#selectRetencion option:selected').val(),
        name: $("#nombre").val(),
        percentage: $("#porcentaje").val(),
        status: ($("#state").is(":checked") ? 1 : 0)
      }  

      fetch('/retenciones/update', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
        .then(res => res.json())
        .then(res =>{
          location.reload()
        })
    }

    $(document).on("click", ".editRetencion", function () {
      let dataRetencion = $(this).closest("th").attr("data-retencion");
          dataRetencion = JSON.parse(dataRetencion);
      console.log(dataRetencion)

      $("#nombre").val(dataRetencion.name),

      $("#nombre").attr("data-account", dataRetencion.account),
      $("#nombre").attr("data-id", dataRetencion.id),

      $("#porcentaje").val(dataRetencion.percentage),
      $("#selectRetencion").val(dataRetencion.id_retention_type),
      $("#desc").val(dataRetencion.description),
      dataRetencion.status == 1 ? $("#state").prop('checked', true) : $("#state").prop('checked', false)

      $("#editBtn").show()
      $("#createBtn").hide()
      $('#modalNuevaRetencion').modal('show')
    })

    $(document).on("change", ".retentionState", function () {
      let dataRetencion = $(this).closest("th").attr("data-retencion");
          dataRetencion = JSON.parse(dataRetencion);
      console.log(dataRetencion)
      let state = $(this).is(':checked');
      
      let data = {
        account: dataRetencion.account,
        description: dataRetencion.description,
        id: dataRetencion.id,
        id_retention_type: dataRetencion.id_retention_type,
        name: dataRetencion.name,
        percentage: dataRetencion.percentage,
        status: (state ? 1 : 0)
      }  
      
      fetch('/retenciones/update', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        }
      })
        .then(res => res.json())
        .then(res =>{
          console.log(res)
        })
    })

    $(document).ready(function () {
      if (retenciones.success) {
        printTableData(retenciones.data.retention)
      }
      $("#menuRetenciones").addClass("activeNav")
      $("#preloader").hide();
    })
  </script>

</body>
</html>