<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title>Documentos Usuarios</title>

  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <!-- JQUERY UI -->
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <!-- REPORTS CSS -->
  <link rel="stylesheet" href="/css/reports.css">
  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    .inputFile{
      border: dashed 2px lightgray;
      text-align: center;
      cursor: pointer;
      border-radius: 0.5rem;
      padding: 3px;
    }  
    .removeDocument{
      cursor: pointer;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>
  
      <!-- Cotent -->
      <div class="p-4">
        <div class="card p-3 m-3">
            <div class="d-flex justify-content-center">
              <div class="w-60">
                <h6 class="mb-4 text-center">Mis Documentos</h6>
                <div id="documentsContainer">
                  <!-- Contenido Dinamico -->
                </div>
              </div>
              <div id="addFileSection" class="w-40 ms-3 ps-3" style="border-left: solid 1px lightgray;">
                <h6 class="mb-4 text-center">Subir Documento</h6>
                <form action="" enctype="multipart/form-data" id="f-upload">
                  <input type="file" name="file" id="inputDocument"  accept=".xlsx,.xls, image/*, .doc, .docx, .pptx,.txt,.pdf" hidden> 
                </form>
                <div class="inputFile" >
                  <span id="fileName">
                    Seleccione Archivo
                  </span>
                </div>

                <div class="mt-2"> 
                  <label for="">Seleccione Tipo de Documento:</label>
                  <select name="" id="inputKind" class="form-control">
                    <option value="-1" selected disabled hidden>...</option>
                    <!-- Contenido dinamico -->
                  </select>
                </div>

                <div class="text-center mt-3">
                  <button class="btn btn-primary" onclick="sendData()">Enviar</button>
                </div>
              </div>
            </div>
        </div> 
      </div>

      <!-- preloader -->
      <%- include('./partials/preloader.ejs') %> 
    </main>


  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/plugins/dropzone.min.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>
  <script src="/js/menu.js"></script>
    
  <script>
    let session = `<%- JSON.stringify(session) %>`;
        session = JSON.parse(session);
    let masters = `<%- JSON.stringify(masters) %>`;
        masters = JSON.parse(masters);
    let documentos = `<%- JSON.stringify(documentos) %>`;
        documentos = JSON.parse(documentos);

    $('input[type=file]').change(function(){
      $("#fileName").text(this.files[0].name)
    })

    $(".inputFile").on("click", function (e) {
      $('#inputDocument').trigger("click");
      e.stopPropagation(); //Necesary line
    })

    $(document).on("click", ".removeDocument", function (){
      Swal.fire({
        title: '¿Está seguro de eliminar este documento?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#302560',
        cancelButtonColor: '#8392AB',
        confirmButtonText: 'Sí',
        cancelButtonText: 'Cancelar',
        reverseButtons: true
      }).then((result) => {
        let idDocument = $(this).attr("data-id");
        let parent =  $(this).parent().parent();
        if (result.isConfirmed) {
          $.ajax({ //Save image 
            url: '/documentos-usuario/delete', 
            type: 'POST',
            data: {id: idDocument},
          }).done(function (res) {
            if (res.result.success) {
              $(parent).remove();
            } else {
              Swal.fire({
                icon: "error",
                title: 'No fue posible eliminar el Documento',
                confirmButtonText: 'Continuar',
              })
            }
          })
        }
      })
    })

    const loadMasters = () => {
      let data = masters.result.result;
      for (let i = 0; i < data.length; i++) {
        let element = `
          <option value="${data[i].id}">${data[i].name}</option>
        `;
        $("#inputKind").append(element)
      }
    }

    const loadDocuments = () => {
      if (documentos.result.result.length == 0) {
        return $("#documentsContainer").append('<h6 class="text-center text-secondary" id="noDocumentsAlert">No hay documentos para mostrar</h6>');
      }
      let data = documentos.result.result;
      for (let i = 0; i < data.length; i++) {
        let element = `
          <div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="d-flex justify-content-center align-items-center m-3" style="width: 30px;">
                  <a href="http://api.pedbox.co:7777/documentos_extranet/${data[i].name_file}" target="_blank">
                    <i class="fas fa-file" style="font-size: 25px;"></i>
                  </a>
                </div>
                <div class="d-flex flex-column justify-content-center">
                  <h6 class="fw-bolder m-0">${data[i].type}</h6>
                  <label style="opacity: 0.7;" class="m-0">Fecha: <span>${data[i].created.split(" ")[0]}</span></label>
                </div>
              </div>
              <div class="removeDocument" data-id="${data[i].id}">
                <i class="fas fa-trash" style="color: red;" ></i>
              </div>
            </div>
            <hr class="horizontal dark my-1">
          </div>
        `;
        $("#noDocumentsAlert").remove()
        $("#documentsContainer").append(element)
      }
    }

    const sendData = () => {
      if ($('#inputKind option:selected').val() == "-1"){
        return Swal.fire({
          title: 'Selecciona tipo de documento antes de enviar',
          confirmButtonText: 'Continuar',
        })
      }

      if ($("#inputDocument").val() == ''){
        return Swal.fire({
          title: 'Selecciona tu documento antes de enviar',
          confirmButtonText: 'Continuar',
        })
      }

      if ($("#inputDocument")[0].files[0].size > 3145728){ // Restricción de tamaño a 3mb
        return Swal.fire({
          title: 'El archivo seleccionado es demaciado grande',
          text: 'Selecciona un archivo que pese menos de 3MB',
          confirmButtonText: 'Continuar',
        })
      }

      var formData = new FormData($("#f-upload")[0]);
      let filenane = $("#inputDocument")[0].files[0].name;
      $.ajax({ //Save image 
        url: 'http://api.pedbox.co:7777/documentos/upload', 
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
      }).done(function (data) {
        if (!data.success) {
          return Swal.fire({
            icon: "error",
            title: 'No fue posible subir el Documento',
            confirmButtonText: 'Continuar',
          })
        } else {
          let dataDocument = {
            id_company : session.user.id_company,
            nit: session.user.nit,
            year: new Date().getFullYear(),
            id_type_file: Number($('#inputKind option:selected').val()),
            type: $('#inputKind option:selected').text(),
            name_file: data.file + "." + getFileExtension($("#inputDocument")[0].files[0].name)
          }

          $.ajax({ //Save image register db
            url: "/documentos-usuario/upload",
            type: "POST",
            data: dataDocument
          }).done(function (res) {
            let name = "LAST_INSERT_ID()"; // Object property as a function call
            if (res.response.result.success) {
              Swal.fire({
                icon: "success",
                title: 'Documento subido con éxito',
                confirmButtonText: 'Continuar',
              })
              
              $("#inputDocument").val('');
              $("#fileName").text('Selecciona Archivo');
              $("#inputKind").val('-1'); 

              addDocument(dataDocument, res.response.result.result[1][0][name])
            } else {
              Swal.fire({
                icon: "error",
                title: 'No fue posible subir el Documento',
                confirmButtonText: 'Continuar',
              })
            }
          })
        }
      });
    }

    let addDocument = (data, id) => {
      let element = `
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div class="d-flex justify-content-center align-items-center m-3" style="width: 30px;">
                <a href="http://api.pedbox.co:7777/documentos_extranet/${data.name_file}" target="_blank">
                  <i class="fas fa-file" style="font-size: 25px;"></i>
                </a>
              </div>
              <div class="d-flex flex-column justify-content-center">
                <h6 class="fw-bolder m-0">${data.type}</h6>
                <label style="opacity: 0.7;" class="m-0">Fecha: <span>${new Date().toLocaleDateString()}</span></label>
              </div>
            </div>
            <div class="removeDocument" data-id="${id}">
              <i class="fas fa-trash" style="color: red;"></i>
            </div>
          </div>
          <hr class="horizontal dark my-1">
        </div>
      `;
      $("#noDocumentsAlert").remove()
      $("#documentsContainer").append(element)
    }

    let handlePermission = () => {
      // $(".removeDocument").hide() // Esconder boton de eliminar
      // $("#addFileSection").hide() // Esconde sección para añadir documentos
      // Esconder sección de documentos
    }
      
    $(document).ready(function () {
      loadMasters();
      loadDocuments();
      handlePermission();

      $("#menuDocumentosUsuario").addClass("activeNav")
      $("#preloader").hide();
    })
  </script>

</body>
</html>