<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/x-icon" href="https://app.pedbox.co/assets/logos/logo_blanco.png"/>
  <title> Recorrido Vendedores </title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <link id="pagestyle" href="/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
  <link rel="stylesheet" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" href="/css/reports.css">

  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js" integrity="sha512-+l9L4lMTFNy3dEglQpprf7jQBhQsQ3/WvOnjaN/+/L4i0jOstgScV0q2TjfvRF4V+ZePMDuZYIQtg5T4MKr+MQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/helpers.js"></script>

  <!-- Color Page -->
  <%- include('./partials/colors.ejs') %> 

  <style>
    tr th a{
      text-align: center !important;
    }
    .dataTable-sorter::before {
      display: none !important;
    }
    .dataTable-sorter::after {
      display: none !important;
    }
    .detailRow{
      text-decoration: underline;
      color: #344767;
      cursor: pointer;
    }
    .dropdown-menu{
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 10%);
      top: -10px;
    }

    #dropdownMenuButton::after{
      display: none;
    }
    #selectRangeDate{
      top: 35px !important;
    }
    #optionMap{
      position: absolute;
      top: 15%;
      right: 25px;
      background-color: white;
      padding: 10px;
      border-radius: 0.5rem;
    }
  </style>
</head>

<body class="g-sidenav-show bg-gray-100">

  <!-- Menu -->
  <%- include('./partials/menu.ejs') %> 

  <main class="main-content max-height-vh-100 h-100">

    <!-- Cabecera -->
    <%- include('./partials/header.ejs') %>
  
      <!-- Cotent -->
      <div class="p-4">

        <div id="headerDashboard" class="card mb-2 flex-row align-items-center" style="background-color: transparent; box-shadow: none;"> 
          <div class="w-50 ms-3 d-flex">
            <div>
              <span id="currentViewDate" class="font-weight-bold" style="color: #344767; font-style: italic;">Febrero 20, 2022</span>
            </div>

            <div id="filterRecorridos" style="position: relative; display: flex;">
              <i id="filterIcon" onclick="$('#selectFilterRecorridos').show()" class="fas fa-filter ms-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar Fecha" style="display: flex; align-items: center; cursor: pointer;"></i>
              <div id="selectFilterRecorridos" class="px-3 py-1 pt-2" style="background-color: white; position: absolute; right: 0; top:30px; border-radius: 10px; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 15%); display: none; z-index: 301111110;">
                <div class="d-flex gap-2">  
                  <div style="display:  flex; width: 100%;">
                    <input class="form-control w-100" id="dateRecorridos" type="date" >
                  </div>
                </div>
                <div class="mt-3  gap-2 d-flex justify-content-end align-items-center">
                  <button onclick="$('#selectFilterRecorridos').hide()" class="btn bg-gradient-secondary">Cancelar</button>
                  <button onclick="getDataRecorridos()" class="btn bg-gradient-primary">Enviar</button>
                </div>
              </div>
            </div>

            <div id="filterInformes" style="display: none;">
              <div id="editViewDateContainer" style="position: relative" class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Filtrar fecha">
                <i class="fas fa-filter ms-3 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="margin-top: 5px;"></i>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="left: -20px;">
                  <li onclick="dateFilter(0)"><a class="dropdown-item" href="#">Hoy</a></li>
                  <li onclick="dateFilter(-1)"><a class="dropdown-item" href="#">Ayer</a></li>
                  <li onclick="dateFilter(30)"><a class="dropdown-item" href="#">Este mes</a></li>
                  <li onclick="dateFilter(-30)"><a class="dropdown-item" href="#">Mes anterior</a></li>
                  <li  onclick="dateFilter('x')"><a class="dropdown-item" href="#">Personalizado</a></li>
                </ul>
                <div id="selectRangeDate" class="px-3 py-1" style="background-color: white; position: absolute; right: 0; top:55px; border-radius: 10px; box-shadow: 0 20px 27px 0 rgb(0 0 0 / 15%); display: none; z-index: 301111110;">
                  <div class="d-flex gap-2">  
                    <div>
                      <label for="date1">Desde</label> 
                      <input class="form-control" id="date1" type="date">
                    </div>
                    <div>
                      <label for="date2">Hasta</label> 
                      <input class="form-control"  id="date2" type="date">
                    </div>
                  </div>
                  <div class="mt-3  gap-2 d-flex justify-content-end align-items-center">
                    <button onclick="$('#selectRangeDate').hide()" class="btn bg-gradient-secondary">Cancelar</button>
                    <button onclick="dateRangeFilter()" class="btn bg-gradient-primary">Enviar</button>
                  </div>
                </div>
              </div>
            </div>

            <i id="exportRecorridos" onclick="exportDataRecorridos()" class="fas fa-download ms-3" data-bs-toggle="tooltip" title="Exportar Recorridos" style="margin-top: 5px; cursor: pointer;"></i>
            <i id="exportInform" onclick="exportDataInforme()" class="fas fa-download ms-3" data-bs-toggle="tooltip" title="Exportar Informes" style="margin-top: 5px; display: none; cursor: pointer"></i>
          </div>

          <div class="w-50 nav-wrapper position-relative end-0">
            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
              <li onclick="$('#sectionRecorridos').show(); $('#sectionInform').hide(); $('#filterInformes').hide(); $('#filterRecorridos').show(); $('#exportRecorridos').show(); $('#exportInform').hide(); $('#currentViewDate').html(nvFormatDate($('#dateRecorridos').val() + 'T00:00:00.00Z', 'mmmm DD del YYYY'))" class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">
                  <i class="fas fa-route"></i>
                  <span class="ms-1">Recorridos</span>
                </a>
              </li>
              <li onclick="$('#sectionRecorridos').hide(); $('#sectionInform').show(); $('#filterInformes').show(); $('#filterRecorridos').hide(); $('#exportRecorridos').hide(); $('#exportInform').show()" class="nav-item">
                <a class="nav-link mb-0 px-0 py-1 " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">
                  <i class="far fa-file-alt"></i>
                  <span class="ms-1">Informes</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <section id="sectionRecorridos">
          <div class="card p-2">
            <div id="tableRecorridos">
              <h6 class="mb-0 ms-2">Recorridos de los vendedores</h6>
              <table id="tRecorridos">
                <thead style="table-layout: fixed;">
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Última Ubicación</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Primer Punto</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Último Punto</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Cantidad Puntos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder"></th>
                </thead>
                <tbody id="tBodyRecorridos"></tbody>
              </table>
            </div>
          </div>
        </section>

        <section id="sectionInform" style="display: none;">
          <div class="card p-2">
            <div id="tableInformSales">
              <h6 class="mb-0 ms-2">Informe Ventas</h6>
              <table id="tInformSales">
                <thead style="table-layout: fixed;">
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Nit</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Vendedor</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Tipo</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Clientes Asignados</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Gestión Cliente</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Clientes Pedidos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Documentos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Gestión Prospectos</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Efectividad</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder">Facturas por día</th>
                </thead>
                <tbody id="tBodyInformSales"></tbody>
              </table>
            </div>
          </div>
        </section>

      </div>

      <!-- Modales -->
      <div id="modalMap" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document" style="min-width: 80vw !important;">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalMapTitle"></h5>
              <div class="d-flex justify-content-center align-items-center gap-2">
                <button onclick="$('#modalMap').modal('hide')" type="button" class="btn-close rounded-circle me-1" style="background-color: gray"></button>
              </div>
            </div>
            <div class="modal-body" style="position: relative;">
              
              <div id="geolocalizacion_bb" style="width: 100%; height: 550px; position: relative; overflow: hidden;"></div>

              <div id="optionMap" style="position: absolute;">
                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Puntos">
                  <input class="form-check-input" type="checkbox" id="toggleViewPoints" >
                  <i class="fas fa-broadcast-tower"></i>
                </div>

                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Documentos">
                  <input class="form-check-input" type="checkbox" id="toggleViewSales" checked="">
                  <i class="fas fa-shopping-cart"></i>
                </div>
                
                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Visitas">
                  <input class="form-check-input" type="checkbox" id="" checked="">
                  <i class="fas fa-home"></i>
                </div>

                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Cotizaciones">
                  <input class="form-check-input" type="checkbox" id="" checked="">
                  <i class="fas fa-dollar-sign"></i>
                </div>

                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Formatos">
                  <input class="form-check-input" type="checkbox" id="" checked="">
                  <i class="fas fa-file-alt"></i>
                </div>

                <div class="form-check form-switch" data-bs-toggle="tooltip" data-bs-placement="top" title="Ruta">
                  <input class="form-check-input" type="checkbox" id="toggleRouteMarker" checked="">
                  <i class="fas fa-car"></i>
                </div>

                <div class="form-check form-switch mt-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Clientes">
                  <input class="form-check-input" type="checkbox" id="toggleViewClients" checked="">
                  <i class="fas fa-user"></i>
                </div>
              </div>

              <div id="dateMap" style="position: absolute; width: 150px; right: 25px; top: 55%;" >
                <input type="date" name="" id="selectDateMap" class="form-control">
              </div>

              <div id="documentsListMap" style="position: absolute; top: 15%; left: 25px;">

                <div class="dropdown">
                  <a href="javascript:;" class="btn bg-gradient-dark dropdown-toggle " data-bs-toggle="dropdown" id="navbarDropdownMenuLink2">
                    Documentos
                  </a>
                  <ul id="dropDownContent" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2"></ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- preloader -->
      <%- include('./partials/preloader.ejs') %> 
      
  </main>

  <!-- Scripts -->
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="/js/plugins/choices.min.js"></script>
  <script src="/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
  <script src="/js/plugins/dragula/dragula.min.js"></script>
  <script src="/js/plugins/jkanban/jkanban.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/plugins/datatables.js"></script>
  <script src="/js/plugins/chartjs.min.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/sweetalert2.all.min.js"></script>
  <script src="/js/menu.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTBRrWPJMw8oEnVWZATb0Xmr7hIeS99iE" async defer></script>
    
  <script>
    let sellersList = [];
    let sellersListComplete = null;
    let recorridosList = null;
    let salesList = null;
    let seller_id = null;
    let startDateGlobal = new Date().toISOString().split("T")[0];
    let endDateGlobal = new Date().toISOString().split("T")[0];

    const getData = (user) => {
      fetch(`/maps/recorridos/sellers/${session.user.id}`)
      .then(res => res.json())
      .then(res => {
        if (!res.result.success) {return}

        sellersListComplete = res.result.user[0].sellers
        let list = res.result.user[0].sellers
        for (let i = 0; i < list.length; i++) {
          sellersList.push(list[i].nit)
        }

        fetch(`/maps/dataModuleRecorridos/${startDateGlobal}/${sellersList.join()}`)
        .then(res2 => res2.json())
        .then(res2 => {
          recorridosList = res2[0].result.persons || [];
          salesList = res2[1].result.reportSeller || [];

          printTableRecorridos(recorridosList);
          printTableSales(salesList);

          $("#preloader").hide();

          if (seller_id) {
            let sellerInfo = _.findWhere(sellersListComplete, {id_person: seller_id});
            getDetailRecorrido(sellerInfo.id, sellerInfo.id_person, sellerInfo.nombre)
          }
        })
      })
    };

    const getDataRecorridos = () => {
      let date = $("#dateRecorridos").val() + "T00:00:00.00Z"; // Concat "T00:00:00.00Z" to fix function result. if it not included the result give a day less
      $("#currentViewDate").html(nvFormatDate(date, "mmmm DD del YYYY"));
      fetch(`/maps/recorridos/recorridosByDate/${date}/${sellersList.join()}`)
      .then(res => res.json())
      .then(res => {
        if (!res.result.success) {return}

        recorridosList = res.result.persons || [];
        printTableRecorridos(recorridosList)
      })

      $('#selectFilterRecorridos').hide()
    }

    let currentRouteSeller = null;
    let currentRouteSales = null;
    let currentClientsSeller = null;
    let currentIdSeller = null;
    let currentIdUser = null;
    let currentIdName = null;
    const getDetailRecorrido = (id_seller, id_user, name_seller, date) => {
      currentIdSeller = id_seller;
      currentIdUser = id_user;
      currentIdName = name_seller;

      let dateFormat = (date ? date : $("#dateRecorridos").val())
      $("#modalMapTitle").html(`Pedidos Realizados ${name_seller} - ${dateFormat}`)

      fetch(`/maps/recorridos/detailRecorrido/${id_seller}/${id_user}/${date ? date :  $("#dateRecorridos").val()}`)
      .then(res => res.json())
      .then(res => {
        if (!res[0].result.result.length) {
          return Swal.fire({
            title: 'No fue posible calcular la ruta',
            confirmButtonText: 'Continuar',
            icon: 'error',
          })
        }

        let x = res[0].result.result
        for (let i = 0; i < x.length; i++) {
          if (x[i].amount != "") {
            console.log(x[i])
          }
        }
        currentRouteSeller = res[0].result.result;
        showRoute(currentRouteSeller);
        printSalesMarkers(res[0].result.result)
        printClientsMarkes(res[1].result.persons);
      })
    }

    const getDataInformes = (dateS, dateE) => {
      fetch(`/maps/recorridos/informeByDate/${dateS}/${dateE}`)
      .then(res => res.json())
      .then(res => {
        if (!res.result.success) {return}

        salesList = res.result.reportSeller || [];
        printTableSales(salesList)
      })

      $("#selectRangeDate").hide();
    }

    const dateRangeFilter = () => {
      let dateStart = $("#date1").val();
      let dateEnd = $("#date2").val();

      $("#currentViewDate").html(nvFormatDate(dateStart + "T00:00:00.00Z", "mmmm DD del YYYY")+ " - " + nvFormatDate(dateEnd + "T00:00:00.00Z", "mmmm DD del YYYY"));

      if (!dateStart || !dateEnd) {
        $("#selectRangeDate").fadeOut("fast");
        return Swal.fire({
          title: 'Seleccione rango de fechas antes de enviar',
          confirmButtonText: 'Continuar',
        })
      }
      getDataInformes(dateStart, dateEnd);
    }

    let tblRecorridos = null;
    const printTableRecorridos = (data) => {
      try {
        tblRecorridos.destroy();
      } catch (error) {}
      $("#tBodyRecorridos").html("")

      for (let i = 0; i < data.length; i++) {
        let element = `
          <tr>
            <td class="text-center">
              <div style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                <img src="${data[i].photo || 'https://app.pedbox.co/assets/images/avatars/profile.jpg'}" alt="" style="width: 40px; height: 40px; max-width: 40px; border-radius: 50%;">
              </div>
            </td>
            <td class="text-center">${data[i].num_identification || "-"}</td>
            <td class="text-center">${data[i].name_person || "-"}</td>
            <td class="text-center">${data[i].last_location || "-"}</td>
            <td class="text-center">${data[i].first_location || "-"}</td>
            <td class="text-center">${data[i].date_last_connection || "-"}</td>
            <td class="text-center">${data[i].quantity_points || "-"}</td>
            <td class="text-center"><i onclick="getDetailRecorrido(${data[i].id_user}, ${data[i].id}, '${data[i].name_person}')" class="fas fa-eye" style="cursor: pointer" title="Ver Recorrido"></i></td>
          </tr>
        `;
        $("#tBodyRecorridos").append(element)
      }

      tblRecorridos = new simpleDatatables.DataTable("#tRecorridos", { perPageSelect: false });
    };

    let tblSales = null;
    const printTableSales = (data) => {
      try {
        tblSales.destroy();
      } catch (error) {}
      $("#tBodyInformSales").html("")

      for (let i = 0; i < data.length; i++) {
        let element = `
          <tr>
            <td class="text-center">${data[i].nit_vendedor || "-"}</td>
            <td class="text-center">${data[i].vendedor || "-"}</td>
            <td class="text-center">${data[i].tipo || "-"}</td>
            <td class="text-center">${data[i].clientes || "-"}</td>
            <td class="text-center">${data[i].cliente || "-"}</td>
            <td class="text-center">${data[i].cantidad_clientes || "-"}</td>
            <td class="text-center">${data[i].cantidad_documentos || "-"}</td>
            <td class="text-center">${data[i].prospecto || "-"}</td>
            <td class="text-center">${data[i].efectividad + "%" || "-"}</td>
            <td class="text-center">${data[i].facturas_por_dia || "-"}</td>
          </tr>
        `;
        $("#tBodyInformSales").append(element)
      }

      tblSales = new simpleDatatables.DataTable("#tInformSales", { perPageSelect: false });
    }

    const dateFilter = function (date) {
      let dateS, dateE;

      if (date == "x") { // Rango de fechas
        $("#selectRangeDate").fadeIn("fast");
        return
      }

      if (date == 0) { // Hoy
        dateS = new Date().toISOString().split("T")[0];
        dateE = new Date().toISOString().split("T")[0];
        
        $("#currentViewDate").html(nvFormatDate(new Date(), "mmmm DD del YYYY"));

        // $("#loadingViewDateContainer").show();
        return getDataInformes(dateS, dateE);
      }

      if (date == -1) { // Ayer
        s = new Date();
        s.setDate(s.getDate() - 1);

        $("#currentViewDate").html(nvFormatDate(s, "mmmm DD del YYYY"));

        s = s.toISOString().split("T")[0];

        dateS = s;
        dateE = s;
        
        // $("#loadingViewDateContainer").show();
        return getDataInformes(dateS, dateE);
      }

      if (date == 30) { // Este mes
        s = new Date();
        currentMonth = s.getMonth() + 1;
        firstDayMont = s.getFullYear() + "/" + (currentMonth < 10 ? "0"+currentMonth : currentMonth) + "/01";
        
        $("#currentViewDate").html(nvFormatDate(firstDayMont, "mmmm DD del YYYY")+ " - " + nvFormatDate(new Date(), "mmmm DD del YYYY"));

        dateS = firstDayMont.replaceAll("/", "");
        dateE = new Date().toISOString().split("T")[0];
    
        // $("#loadingViewDateContainer").show();
        return getDataInformes(dateS, dateE);
      }

      if (date == -30) { // Mes anterior
        s = new Date();
        let currentMonth = s.getMonth() + 1;
        let currentYear = s.getFullYear();

        if (currentMonth == 1) {
          currentMonth = 12;
          currentYear = currentYear - 1;
        } else {
          currentMonth = currentMonth - 1;
        }

        currentMonth = currentMonth < 10 ? "0"+currentMonth : currentMonth;

        dateS = currentYear + "-" + currentMonth + "-01";
        dateE = currentYear + "-" + currentMonth + "-31";

        let startDateDashboardF = currentYear + "/" + currentMonth + "/01";
        let endDateDashboardF = currentYear + "/" + currentMonth + "/31";

        $("#currentViewDate").html(nvFormatDate(startDateDashboardF, "mmmm DD del YYYY")+ " - " + nvFormatDate(endDateDashboardF, "mmmm DD del YYYY"));
        
        // $("#loadingViewDateContainer").show();
        return getDataInformes(dateS, dateE);
      }
    }

    var map;
    var directionsService;
    var directionsRenderer;
    var drawMap = function() {
      directionsService = new google.maps.DirectionsService();
      directionsRenderer = new google.maps.DirectionsRenderer();

      var styles = [{
        "stylers": [
          { "saturation": -100 },
          { "gamma": 1.07 }
        ]}
      ];

      let mapOptions = {
        zoom: 6,
        center: new google.maps.LatLng(5.2445497,-72.4879592),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
        }
      }

      map = new google.maps.Map($("#geolocalizacion_bb")[0], mapOptions);
      map.mapTypes.set('map_style', new google.maps.StyledMapType(styles,{name: "Styled Map"}));
      map.setMapTypeId('map_style');
      directionsRenderer.setMap(map);

      infowindow = new google.maps.InfoWindow();
    };

    var showRoute = async function(data) {
      let routeComplete = [];
      let flightPlanCoordinates = [];

      for (let i = 0; i < data.length; i += 20) { // Dividir array en porciones de maximo 20 posiciones pera evitar la limitación de google maps de  waypoints
        const chunk = data.slice(i, i + 20);

        let start = new google.maps.LatLng(chunk[0].latitude, chunk[0].longitude);
        let end = new google.maps.LatLng(chunk[chunk.length -1].latitude, chunk[chunk.length -1].longitude);
        let calcWaypoints = [];

        for (let e = 1; e < chunk.length; e++) { // El loop comienza en 1 y termina en -1 para que solo se agregen como waypoints los puntos intermedios
          if (e == chunk.length) continue
          calcWaypoints.push({
            location: new google.maps.LatLng(chunk[e].latitude, chunk[e].longitude),
            stopover: true
          })
        }

        var request = {
          origin: start,
          destination: end,
          travelMode: 'WALKING',
          waypoints: calcWaypoints
        };

        let routePortion = await directionsService.route(request);
        if (routePortion.status != "OK") { continue }
        routeComplete = [...routeComplete, ...routePortion.routes[0].overview_path]
      }

      for (let value of routeComplete) {
        flightPlanCoordinates.push({
          lat: value.lat(),
          lng: value.lng()
        });
      };

      displayRouteLine(flightPlanCoordinates)
    }

    let lineRoute;
    let displayRouteLine = (route) => {
      try {
        lineRoute.setMap(null);
      } catch (error) {}

      let carSymbol = {
        path: "M17.402,0H5.643C2.526,0,0,3.467,0,6.584v34.804c0,3.116,2.526,5.644,5.643,5.644h11.759c3.116,0,5.644-2.527,5.644-5.644 V6.584C23.044,3.467,20.518,0,17.402,0z M22.057,14.188v11.665l-2.729,0.351v-4.806L22.057,14.188z M20.625,10.773 c-1.016,3.9-2.219,8.51-2.219,8.51H4.638l-2.222-8.51C2.417,10.773,11.3,7.755,20.625,10.773z M3.748,21.713v4.492l-2.73-0.349 V14.502L3.748,21.713z M1.018,37.938V27.579l2.73,0.343v8.196L1.018,37.938z M2.575,40.882l2.218-3.336h13.771l2.219,3.336H2.575z M19.328,35.805v-7.872l2.729-0.355v10.048L19.328,35.805z",
        scale: .7,
        strokeColor: 'white',
        strokeWeight: .10,
        fillOpacity: 1,
        fillColor: '#404040',
        offset: '5%',
        anchor: new google.maps.Point(10, 25)
      };

      lineRoute = new google.maps.Polyline({
        path: route,
        geodesic: true,
        strokeColor: '#302828',
        strokeOpacity: 1.0,
        strokeWeight: 2,
        zIndex: 999,
        icons: [{
          icon: carSymbol,
          offset: '100%'
        }]
      });
      
      lineRoute.setMap(map);
      animateCircle(lineRoute);

      map.setCenter(new google.maps.LatLng(route[0].lat, route[0].lng));
      map.setZoom(12);
      $("#modalMap").modal("show");
    }

    function animateCircle(line) {
      let count = 0;
      window.setInterval(() => {
        count = (count + 1) % 200;
        const icons = line.get("icons");
        icons[0].offset = count / 2 + "%";
        line.set("icons", icons);
      }, 100);
    }

    let markersPoints = []; // Punto de localización
    let printPointsMarkers = (data) => {
      showPointsMarkers(data)
    }

    let markersSales = [];
    let printSalesMarkers = (data) => {
      let salesData = [];
      for (let i = 0; i < data.length; i++) {
        if (data[i].amount != "") {
          salesData.push(data[i])
        }
      }
      currentRouteSales = salesData;
      showSalesMarkers();
      printDocumentsResume();
    }

    let markersClients = [];
    let printClientsMarkes = (data) => {
      let clientLocated = [];
      for (let i = 0; i < data.length; i++) {
        if (data[i].latitude && data[i].longitude) {
          clientLocated.push(data[i])
        }
      }
      currentClientsSeller = clientLocated;
      showClientMarkers()
    };

    var showRouteMarker = function() {
      lineRoute.setMap(map);
    };

    let showPointsMarkers = function() {
      pointsLocanted = currentRouteSeller;
      markersPoints = [];
      for (let i = 0; i < pointsLocanted.length; i++) {
        let detail = `
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0">Punto Geolocalizado </h6>
            <label class="m-0">Fecha: <span style="color: #6c757d">${pointsLocanted[i].date.split(" ")[0] || " - "} </span></label>
            <label class="m-0">Hora: <span style="color: #6c757d">${pointsLocanted[i].date.split(" ")[1] || " - "} </span></label>
          </div>
        `;

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(pointsLocanted[i].latitude, pointsLocanted[i].longitude),
          map: map,
          icon: "https://app.pedbox.co/assets/images/icons-maps/settings-input-antenna.png",
        });
        markersPoints.push(marker);
        bindInfoWindow(marker, map, detail);
      };
    };

    let showSalesMarkers = function() {
      salesLocated = currentRouteSales;
      markersSales = [];
      for (let i = 0; i < salesLocated.length; i++) {
        let detail = `
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0">Documento - ${salesLocated[i].bussiness_name} </h6>
            <label class="m-0">Cliente: <span style="color: #6c757d">${salesLocated[i].customer || " - "} </span></label>
            <label class="m-0">Tipo: <span style="color: #6c757d"> Pedido </span></label>
            <label class="m-0">Valor: <span style="color: #6c757d">${ nvFormatCash(salesLocated[i].amount).split(".")[0]  } </span></label>
            <label class="m-0">Fecha: <span style="color: #6c757d">${nvFormatDate(salesLocated[i].date, "mmmm DD del YYYY")} </span></label>
          </div>
        `;

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(salesLocated[i].latitude, salesLocated[i].longitude),
          map: map,
          icon: "https://app.pedbox.co/assets/images/icons-maps/shopping-cart.png",
        });
        markersSales.push(marker);
        bindInfoWindow(marker, map, detail);
      };
    };

    let showClientMarkers = function() {
      clientLocated = currentClientsSeller;
      markersClients = [];
      for (let i = 0; i < clientLocated.length; i++) {
        let detail = `
          <div class="d-flex flex-column justify-content-center">
            <h6 class="mb-0">Cliente - ${clientLocated[i].bussiness_name} </h6>
            <label class="m-0">Identificación: <span style="color: #6c757d">${clientLocated[i].num_identification || " - "} </span></label>
            <label class="m-0">Teléfono: <span style="color: #6c757d">${clientLocated[i].cellphone || " - "} </span></label>
            <label class="m-0">Dirección: <span style="color: #6c757d">${clientLocated[i].address || " - "} </span></label>
            <label class="m-0">Ciudad: <span style="color: #6c757d">${clientLocated[i].city || " - "} </span></label>
          </div>
        `;

        marker = new google.maps.Marker({
          position: new google.maps.LatLng(clientLocated[i].latitude, clientLocated[i].longitude),
          map: map,
          icon: "https://app.pedbox.co/assets/images/icons-maps/btn-info.png",
        });
        markersClients.push(marker);
        bindInfoWindow(marker, map, detail);
      };
    };

    var hidePointsMarker = function() {
      for (var i = 0; i < markersPoints.length; i++ ) {
        markersPoints[i].setMap(null);
      }
      markersPoints = [];
    };

    var hideRouteMarker = function() {
      lineRoute.setMap(null);
    };

    var hideClientsMarkers = function() {
      for (var i = 0; i < markersClients.length; i++ ) {
        markersClients[i].setMap(null);
      }
      markersClients = [];
    };

    var hideSalesMarkers = function() {
      for (var i = 0; i < markersSales.length; i++ ) {
        markersSales[i].setMap(null);
      }
      markersSales = [];
    };

    var bindInfoWindow = function(marker, map, description) {
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(description);
        infowindow.open(map, marker);
      });
    };

    var exportDataRecorridos = function() {
      let rows = [];

      for (let i = 0; i < recorridosList.length; i++) {
        if (recorridosList[i].type_user == "V" || recorridosList[i].type_user == "T") {
          let location = "";
          if (recorridosList[i].latitude && recorridosList[i].longitude) {
            location = 'https://www.google.com.co/maps/place/'+recorridosList[i].latitude+','+recorridosList[i].longitude;
          } 
          
          let el = {
            "bDateLastConnection": ((recorridosList[i].date_last_connection) ? recorridosList[i].date_last_connection : "No disponible"),
            "date_last_connection": ((recorridosList[i].date_last_connection) ? recorridosList[i].date_last_connection : "No disponible"),
            "id": recorridosList[i].id,
            "id_user": recorridosList[i].id_user,
            "name_person": recorridosList[i].name_person,
            "nit": recorridosList[i].num_identification,
            "photo": recorridosList[i].photo,
            "user": recorridosList[i].user,
            "urlLocation": location,
            "first_location": recorridosList[i].first_location,
            "last_location": recorridosList[i].last_location,
            "quantity_points": recorridosList[i].quantity_points,
            "info": recorridosList[i]
          }
          rows.push(el)
        }
      };

      let body = {
        rows: rows,
        title: "Inf. Ubicación vendedores"
      }

      fetch("/maps/informRecorridos", {
        method:"POST",
        body: JSON.stringify(body),
        headers: {"Content-type": "application/json"}
      })
      .then(res => res.json())
      .then(res => {
        if (!res.result.success) {return}
        
        window.open("https://api.pedbox.co:8590"+res.result.data.url, "_blank");
      })
    };

    var exportDataInforme = function() {
      window.open(`https://api.pedbox.co:8590/getReporSellermanagement?export=true&id_empresa=${session.user.id_company}&inicio=${startDateGlobal}&fin=${endDateGlobal}&nit=0`, "_blank");
    }

    var cleanMapsMarkersAndRoute = function() {
      try {
        lineRoute.setMap(null);
        hideSalesMarkers();
        hideClientsMarkers();
        hideRouteMarker();
        hidePointsMarker();       
        
        $("#dropDownContent").html("")
      } catch (error) {}
    }

    var printDocumentsResume = function() {
      $("#dropDownContent").html("");

      for (let i = 0; i < currentRouteSales.length; i++) {
        let el = `
          <li class="detailDocument" data-lat="${currentRouteSales[i].latitude}" data-lon="${currentRouteSales[i].longitude}">
            <div class="d-flex">
              <div class="d-flex align-items-center justify-content-center ms-3"> 
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <a class="dropdown-item d-flex flex-column" href="javascript:;">
                <h6 class="m-0">Documento: ${currentRouteSales[i].number}</h6>
                <label class="m-0">Cliente: <span style="color: #6c757d"> ${currentRouteSales[i].customer || "-"} </span></label>
                <label class="m-0">Tipo: <span style="color: #6c757d"> Pedido </span></label>
                <label class="m-0">Valor: <span style="color: #6c757d"> ${nvFormatCash(currentRouteSales[i].amount).split(".")[0]} </span></label>
                <label class="m-0">Fecha: <span style="color: #6c757d"> ${currentRouteSales[i].date} </span></label>
              </a>
            </div>
          </li>
          <hr class="horizontal dark my-3">
        `
        $("#dropDownContent").append(el);
      }

      if (currentRouteSales.length == 0) {
        $("#dropDownContent").append(`<h6 class="m-0 text-center">Sin Documentos</h6>`);
      }
    }

    // Toggle buttons map
    $("#toggleViewClients").on("change", function () {
      if($("#toggleViewClients").is(':checked')){
        showClientMarkers();
      } else {
        hideClientsMarkers();
      }
    })

    $("#toggleViewSales").on("change", function () {
      if($("#toggleViewSales").is(':checked')){
        showSalesMarkers();
      } else {
        hideSalesMarkers();
      }
    })

    $("#toggleRouteMarker").on("change", function () {
      if($("#toggleRouteMarker").is(':checked')){
        showRouteMarker();
      } else {
        hideRouteMarker();
      }
    })

    $("#toggleViewPoints").on("change", function () {
      if($("#toggleViewPoints").is(':checked')){
        showPointsMarkers();
      } else {
        hidePointsMarker();
      }
    })

    $(document).on("click", ".detailDocument", function () { // Zoom map on click detail document
      let lat = $(this).attr("data-lat");
      let lon = $(this).attr("data-lon");

      map.setCenter(new google.maps.LatLng(lat, lon));
      map.setZoom(17);
    })

    $(document).on("click", function (e) { // Control de ventanas flotantes selector de fechas
      if (!$("#selectFilterRecorridos").is(e.target) && $("#selectFilterRecorridos").has(e.target).length === 0) {
        if ($("#selectFilterRecorridos").is(":visible") && e.target.id != "filterIcon") {
          $("#selectFilterRecorridos").hide();
        }
      }

      if (!$("#selectRangeDate").is(e.target) && $("#selectRangeDate").has(e.target).length === 0) {
        if ($("#selectRangeDate").is(":visible") && e.target.className != "dropdown-item") {
          $("#selectRangeDate").hide();
        }
      }
    })

    $("#selectDateMap").on("change", function () {
      getDetailRecorrido(currentIdSeller, currentIdUser, currentIdName, $("#selectDateMap").val())
    })

    $('#modalMap').on('hidden.bs.modal', function () { // Clean map on modal close
      cleanMapsMarkersAndRoute();
    })

    $(document).ready(function () {
      seller_id = `<%- JSON.parse(JSON.stringify(seller_id)) %>`;
      seller_id = Number(seller_id)   

      $("#menuRecorridos").addClass("activeNav")

      $("#currentViewDate").html(nvFormatDate(new Date(), "mmmm DD del YYYY"));
      $("#date2").attr("max", new Date().toISOString().split("T")[0]); // Limit date to custom date range
      
      $("#dateRecorridos").attr("max", new Date().toISOString().split("T")[0]); // Limit date to custom date range
      $("#dateRecorridos").val(new Date().toISOString().split("T")[0]); 
      $("#selectDateMap").attr("max", new Date().toISOString().split("T")[0]); // Limit date to custom date range
      $("#selectDateMap").val(new Date().toISOString().split("T")[0]); 

      getData();
      drawMap();
    });
  </script>

</body>
</html>